@import '../mixins/mixin';

#info{
    padding: 55px 0px;
    .header{
      h5{
        @include local($fs: 24px, $fw: 700, $ff: $primary_ff, $clr: #222);
        text-align: center;
        padding-bottom: 20px;
        }
        p{
        @include local($fs: 14px, $fw: 400, $ff: $primary_ff, $clr: #666);
        text-align: center;
        }   
    }
   
    .info_items{
        padding: 50px 0px;
        border-bottom: 1px solid #eee;
        margin-bottom: 50px;
        .info_1{
        text-align: center;
        i{
            color: $primary_clr;
            font-size: 55px;
            padding-bottom: 30px;
        }
        h4{
            @include local($fs: 18px, $fw: 700, $ff: $primary_ff, $clr: #222);
        }
        p{
            @include local($fs: 14px, $fw: 400, $ff: $primary_ff, $clr: #666);
        }
    }
    }
    h4{
        @include local($fs: 24px, $fw: 700, $ff: $primary_ff, $clr: #222);
        padding-bottom: 13px;
    }
    .accordion{
        .accordion-item{
            margin-bottom: 10px;
            border: #f5f5f5 1px solid;
            .accordion-header{
                background-color: #f5f5f5;
                
                .accordion-button {
                    padding: 16px 20px;
                    @include local($fs: 14px, $fw: 600, $ff: $primary_ff, $clr: #333);
                    background-color: #f5f5f5;
                    &:not(.collapsed) {
                        background-color: #f5f5f5;
                         box-shadow: none;
                    }
    
                    &:focus {
                        box-shadow: none;
                    }

                    &:not(.collapsed){
                        color: $primary_clr;
                    }
                }
    
            }
            .accordion-body{
                p{
                    @include local($fs: 13px, $fw: 400, $ff: $primary_ff, $clr: #666);

                }
            }
        }

        .collapsing {
            height: 0;
            overflow: hidden;
            transition: $transition-collapse;
            -webkit-transition: $transition-collapse;
            -moz-transition: $transition-collapse;
            -ms-transition: $transition-collapse;
            -o-transition: $transition-collapse;
        }
    }
    .contact_way{
        form{
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-bottom: 15px;
            label{
                @include local($fs: 14px, $fw: 400, $ff: $primary_ff, $clr: #333);
                
            }
            input{
                padding: 10px 15px;
                border: 1px solid #EEEEEE;
                
            }
            textarea{
                padding: 10px 15px;
                border: 1px solid #EEEEEE;
                
            }
        }
        button{
            @include local($fs: 14px, $fw: 600, $ff: $primary_ff, $clr: #fff);
            padding: 14px 30px;
            background-color: #333;
            border: #333;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
    }
}