@import '../mixins/mixin';
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6, ul, ol, a{
    margin: 0;
    padding: 0;
}
// common sub header
.common_header{
    padding: 10px 0 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    h2{
        @include local($fs: 20px, $fw: 700, $ff: $primary_ff, $clr: #333);
    }
    a{
        @include local($fs: 14px, $fw: 600, $ff: $primary_ff, $clr: #333);
        &:hover{
            color: $primary_clr;
        }
    }
}
// common sub header
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');